@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
}

.border-button {
  border: 1px solid;
}

h1,
h2,
h3,
p,
span,
button {
  font-family: 'Montserrat', sans-serif;
  color: #4f4f4f;
}
