@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  background: white;
  height: 100vh;
  overflow: hidden;
}
#root {
  height: 100vh;
}
.border-button {
  border: 1px solid;
}
main {
  height: calc(100vh - 4rem);
  width: 100%;
  padding: 0 2.5rem 0 2.5rem;
}

h1,
h2,
h3,
p,
span,
button {
  font-family: 'Montserrat', sans-serif;
  color: #4f4f4f;
}
